.*
!.cargo
!.config
!.github
!.git*
!.dockerignore
target
slpp_all
*.log
.DS_Store
*.swp
/core
/core.*
build-cache/
docs/*
!.cargo
!sim_features.md
!lsp_safeguards.md
!config.md
skills-lock.json
temp
