.*
!.cargo
!.config
!.github
!.git*
!.dockerignore
target
slpp_all
*.log
.DS_Store
*.swp
/core
/core.*
build-cache/

docs/*
/persistence/
!.cargo
!sim_features.md
!config.md
!coding_practices.md

skills-lock.json
temp
